<div class="container">
  <h1>welcome to {{title}}</h1>
  <h2>hi</h2>
    <div class="row">
    <div class="col-3" *ngFor="let singlemovie of moviedata">
    <div class="card h-50"  >
      <img class="card-img-top" [src]='"https://image.tmdb.org/t/p/w500"+singlemovie.poster_path' alt="Card image" >
      <div class="card-body">
        <h4 class="card-title">{{singlemovie.original_title}}</h4>
        <p class="card-text" *ngIf="singlemovie.isVisiable">{{singlemovie.overview}}</p>
        <button href="#" (click)="toggledata(singlemovie.id)" class="btn btn-primary" >
          {{singlemovie.isVisiable? 'hide':'show'}} details</button>
      </div>
    </div>
  </div>

  </div>
</div>